doctype html
html
    head
        meta(charset="UTF-8")
        title Gabor Kevin Barta's CV
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet" href="main.css")
    body
        include ../assets/templates/cv.pug
