doctype html
html
    head
        meta(charset="UTF-8")
        title Gabor Kevin Barta's CV
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet" href="main.css")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141910422-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-141910422-1');

    body
        .header
            h1 Gabor Kevin Barta's CV
            h2 Back to portfolio website
            h3 Download here
        .cv-container    
            include ../assets/templates/cv.pug
