doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gabor Kevin Barta's CV
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet" href="main.css")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141910422-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-141910422-1');

    body
        .desk-top-background
            .header
                a.link-button(id="website-link" href="https://gaborkevinbarta.com") Portfolio website
                a.link-button(id="download-link" href="https://github.com/gkevinb/cv/raw/master/export/GaborKevinBartaCV.pdf") Download CV
            .tip View printable version on non-mobile device
            .cv-container
                include ../assets/templates/cv_timeline.pug
