doctype html
html
    head
        link(rel="stylesheet" href="main.css")
    body
        .header
            h1 Gabor Kevin Barta's CV
            h2 Back to portfolio website
            h3 Download here
        .cv-container    
            include ../assets/templates/cv.pug
