doctype html
html
    head
        link(rel="stylesheet" href="main.css")
    body
        .header
            h1 This is the header
            h2 To my CV pages of my portfolio
            h3 Yo
        .cv-container    
            include ../assets/cv.pug
