.cv
    .first-page
        .side-banner
            .first-section
                h1 Gabor Kevin Barta
                h2 Software Engineer
    .second-page
        .second-section
            h1 page2
