doctype html
html
    head
        link(rel="stylesheet" href="main.css")
    body
        .first-page
            .first-section
                h1 page1
        .second-page
            .second-section
                h1 page2