$pdf-width: 991px;
$pdf-height: 1403px;

@mixin pdf-page(){
    width: $pdf-width;
    height: $pdf-height;
    overflow: auto; /* Collapsing Margins */
}

.first-page{
    @include pdf-page();
    background-color: white;
}

.side-banner{
    width: 330px;
    height: $pdf-height;
    background-color: cadetblue;
    overflow: auto; /* Collapsing Margins */
}

.second-page{
    @include pdf-page();
    background-color: sandybrown;
}

.first-section{
    margin: 20px;
}

.second-section{
    margin: 30px;
}

h1{
    font-size: 36px;
}