$pdf-width: 990px;
$pdf-height: 1402px;

@mixin pdf-page(){
    width: $pdf-width;
    height: $pdf-height;
    overflow: auto;
}

.first-page{
    @include pdf-page();
    background-color: burlywood;
}
.second-page{
    @include pdf-page();
    background-color: sandybrown;
}

.first-section{
    margin: 30px;
}

.second-section{
    margin: 30px;
}

h1{
    font-size: 36px;
}