$dark-blue: rgb(48, 68, 107);

#first-page{
    @include pdf-page();
    background-color: white;

    font-family: 'Montserrat', sans-serif;
}

.top-banner{
    color: $dark-blue;
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid $dark-blue;

    h1{
        font-size: 56px;
    }
    h2{
        font-size: 28px;
    }
}

.photo{
    margin-left: 40px;

    img {
        width: 240px;
        border-radius: 50%;
    }
    float: left;
}

.intro{
    margin: 30px 36px;
    line-height: 1.6;
    width: 620px;
    overflow: auto; /* Collapsing Margins */
    float: left;
    text-align: justify;
}

.side{
    margin: 40px;
    float: left;
    clear: both;

    h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.experience{
    margin-left: 40px;
    float: left;
    clear: both;

    h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.icon-text{
    $icon-text-size: 32px;
    padding: 5px;

    .icon{
        font-size: $icon-text-size;
    }
    .text{
        margin-left: 10px;
        vertical-align: top;
        line-height: $icon-text-size;
    }
}

#comma{
    margin-left: 0;
}
