body{
    background-color: #C89F68;
    -webkit-print-color-adjust: exact; /* Needed for proper color in PDF generation */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-print-color-adjust */
}

.header{
    margin: 30px auto;
    display: flex;
}
@media only screen and (max-width: 1000px) {
    .header{
        width: 400px;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 1000px) {
    .header{
        width: $pdf-width;
        justify-content: space-between;
    }
}

.link-button{
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 7px 35px -10px rgba(0,0,0,0.75);
    text-decoration: none;
    background-color: #4C7FBE;
    color: white;
    border-radius: 6px;
    text-align: center;
    &:hover{
        background-color: #416796;
    }
}
@media only screen and (max-width: 1000px) {
    .link-button{
        box-shadow: 0px 7px 35px -10px rgba(0,0,0,0.75);
        width: 260px;
        margin: 20px;
        padding: 20px;
        font-size: 24px;
    }
}
@media only screen and (min-width: 1000px) {
    .link-button{
        box-shadow: 0px 7px 35px -10px rgba(0,0,0,0.75);
        width: 150px;
        padding: 10px;
    }
}

.cv-container{
    display: flex;
    justify-content: center;
    margin: 60px auto;
    overflow: auto; /* Collapsing Margins */
    width: $pdf-width;

    box-shadow: -1px 12px 100px -24px rgba(0,0,0,0.75);

    .page:nth-child(2){
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .cv-container{
        display: flex;
        justify-content: center;
        margin: 60px auto;
        overflow: auto; /* Collapsing Margins */
        width: 400px
    }
}