body{
    background-color: rgb(236, 206, 170);
    -webkit-print-color-adjust: exact;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-print-color-adjust */
}

.header{
    width: $pdf-width;
    margin: 20px auto 80px auto;

    #title{
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
    #website-link{
        width: 300px;
        float: left;
        margin: 0;
    }
    #download-link{
        width: 300px;
        float: right;
        text-align: right;
    }
}

.cv-container{
    display: flex;
    justify-content: center;
    margin: 40px;
    overflow: auto; /* Collapsing Margins */

    .page:nth-child(2){
        margin-top: 40px;
    }
}