@import '../../../node_modules/reset-css/sass/reset';
@import './cv';

body{
    background-color: beige;
}

.header{
    border: 3px solid brown;
}

.cv-container{
    display: flex;
    justify-content: center;
    margin: 40px;

    div:nth-child(2){
        margin-top: 40px;
    }
}