@import '../../../node_modules/reset-css/sass/reset';
@import './cv';

.header{
    border: 3px solid brown;
}

.cv-container{
    display: flex;
    justify-content: center;
    margin: 20px;

    div{
        margin-bottom: 20px;
    }
}